
.jspPane2{overflow: hidden;position: relative;left: 5px;}
.jspPane{position: relative; z-index: 999;}
.jspVerticalBar{ position: absolute;}
.jspHorizontalBar{position: absolute;bottom: 0;left: 56px;height: 16px;top: 574px;z-index: 99999999999999;}
.jspHorizontalBar .jspCap{display: none;float: left;}
.jspDrag{  position: absolute; top: 2px;  left: 0;cursor: pointer;}
.jspTrack{position: relative;}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{  float: left;   height: 100%;}
/*æ»šåŠ¨æ¡æ ¸å¿ƒ*/
.jspDragLeft{position:absolute;top: 0px;left:0;overflow:hidden;background:url(../images/scrollBar_left.png) no-repeat;height: 20px;width: 8px;}
.jspDragMiddle{position:absolute;left: 7px;background:url(../images/scrollBar_middle_02.png) repeat-x;height:19px;}
.jspDragRight{position:absolute;bottom:0;right: 2px;overflow:hidden;background:url(../images/scrollBar_right.png) no-repeat;height: 19px;width: 8px;top: 0px;}
.jspArrow.jspDisabled{cursor: default;}
.jspVerticalBar .jspArrow{height: 16px;}
.jspHorizontalBar .jspArrow{width: 16px;float: left;height: 100%;}
.jspCorner{float: left;height: 100%;}
/*æ»šåŠ¨æ¡èƒŒæ™¯*/
.jspTrack .jspTrackLeft{background: url("../images/scrollBar_bg02_left.png") no-repeat;width: 10px;height: 23px;float: left;}
.jspTrack .jspTrackMiddle{background: url("../images/scrollBar_bg02_middle.png") repeat-x;width: 97.7%;height: 23px;margin-left: 10px;margin-right: -2px;}
.jspTrack .jspTrackRight{background: url("../images/scrollBar_bg02_right.png") no-repeat;width: 10px;height: 23px;float: left;position: absolute;right: 0;top: 0px;}
.jspHorizontalBar,.jspVerticalBar,.jspTrack{height: 19px;}
.jspHorizontalBar .jspArrow{width: 37px;height: 92px;}
/*æ»šåŠ¨æ¡å·¦å³ç®­å¤´*/
.jspArrowLeft{cursor:pointer;background: url("../images/scrollBar_left_arrow.png") no-repeat;width: 32px;height: 91px;position: absolute;left: -57px;top: -307px;}
.jspArrowRight{cursor:pointer;background: url("../images/scrollBar_right_arrow.png") no-repeat;width: 32px;height: 91px;position: absolute;right: -10px;top: -307px;z-index: 9999999999;}























